
#table1 {
    border: 5px solid red;
    margin: 10px;
    margin-left: 0px;
    
}
#table1 th {
    color: red;
    border: 3px solid blue;
    
    
}
#table1 td {
    border: 3px solid blue;
    
    
}
#table2 {
    border: 5px solid red; 
    border-collapse: collapse;
}
#table2 td {
    border: 3px solid blue;
}
#table3 {
    border: 5px solid red; 
}

#table3 thead{
    border: none;
    padding: 0;
    background-color: navy;
}
#table3 > thead > th {
    margin: 0;
}