* {
    
    border-radius: 20px;
}
table { 
    height: 100vh;
    width: 100vw;
    background-color: cyan;
    border: 10px solid rgb(107, 58, 66);
    
}
th {
    border: 5px solid purple;
    border-right: none;
    border-left: none;
}
.onesec {
    border: 5px solid aquamarine;
}
tbody {
    background-color: antiquewhite;
    

}
tfoot {
    background-color: red;
}
thead {
    background-color:rgb(74, 150, 59);
}